<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Comport" value="com23" />
    <add key="UpVolateSpeed" value="5" /><!--调节速度-->
    <add key="UpdataTransFornerUi" value="True" /><!--非False就刷新Ui-->
    <add key="UpdataTransFormerSpeedUI" value="3000" /><!--配电变压器试验刷新速度-->
    <add key="VolatageRange" value="20,50,80,100,120" />
    <!--标准电压等级点 20% %30 逗号隔开-->
  </appSettings>
  <connectionStrings>
    <add name="jsEntities" connectionString="metadata=res://*/ModelProject.csdl|res://*/ModelProject.ssdl|res://*/ModelProject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=js;persist security info=True;user id=sa;password=sceec;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>